name: SLSA generic container generator

on:
  workflow_dispatch:
  push:
  #  branches: [ "main", "feature/**" ]
  #  tags: [ "v*" ]

env:
  USE_DOCKER_HUB: true
  GHCR_REPO: ghcr.io/${{ github.repository }}
  DOCKERHUB_REPO: docker.io/benjaminskiljanflare/go-flare

jobs:
  build-and-push:
    name: Build & Push
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
      id-token: write
    outputs:
      use-docker-hub: ${{ env.USE_DOCKER_HUB }}
      dockerhub-repo: ${{ env.DOCKERHUB_REPO }}
      ghcr-repo: ${{ env.GHCR_REPO }}
      ###################################################################
      digest-standard: ${{ steps.build-standard.outputs.digest }}
      digest-distroless: ${{ steps.build-distroless.outputs.digest }}

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - run: echo "IMAGE_TAG=dev" >> $GITHUB_ENV
      if: github.ref_name == 'main' || startsWith(github.ref_name, 'feature/')

    - run: echo "IMAGE_TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
      if: startsWith(github.ref, 'refs/tags/v')

    - name: Login to ghcr.io
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to docker.io
      if: ${{ env.USE_DOCKER_HUB == 'true' }}
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_UID }}
        password: ${{ secrets.DOCKER_HUB_PAT }}

    - name: Extract metadata for standard image
      id: metadata-standard
      uses: docker/metadata-action@v5
      with:
        images: |
          ${{ env.GHCR_REPO }}
          ${{ secrets.DOCKER_HUB_REPO }},enable=${{ env.USE_DOCKER_HUB }}
        tags: |
          type=raw,value=${{ env.IMAGE_TAG }}

    - name: Extract metadata for distroless image
      id: metadata-distroless
      uses: docker/metadata-action@v5
      with:
        images: |
          ${{ env.GHCR_REPO }}
          ${{ secrets.DOCKER_HUB_REPO }},enable=${{ env.USE_DOCKER_HUB }}
        tags: |
          type=raw,value=${{ env.IMAGE_TAG }}-dless

    - name: Build and push standard image
      uses: docker/build-push-action@v6
      id: build-standard
      with:
        context: .
        file: ./Dockerfile
        push: true
        platforms: linux/amd64 #,linux/arm64
        tags: ${{ steps.metadata-standard.outputs.tags }}
        labels: ${{ steps.metadata-standard.outputs.labels }}

    - name: Build and push distroless image
      uses: docker/build-push-action@v6
      id: build-distroless
      with:
        context: .
        file: ./Dockerfile.dless
        push: true
        platforms: linux/amd64 #,linux/arm64
        tags: ${{ steps.metadata-distroless.outputs.tags }}
        labels: ${{ steps.metadata-distroless.outputs.labels }}


  # This step calls the container workflow to generate provenance and push it to
  # the container registry.
  provenance-ghcr:
    needs: [build-and-push]
    permissions:
      actions: read # for detecting the Github Actions environment.
      id-token: write # for creating OIDC tokens for signing.
      packages: write # for uploading attestations.
    strategy:
      matrix:
        digest:
          - ${{ needs.build-and-push.outputs.digest-standard }}
          - ${{ needs.build-and-push.outputs.digest-distroless }}
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
    with:
      image: ${{ needs.build-and-push.outputs.ghcr-repo }}
      digest: ${{ matrix.digest }}
      registry-username: ${{ github.actor }}
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}

  provenance-dockerhub:
    needs: [build-and-push]
    if: ${{ needs.build-and-push.outputs.use-docker-hub == 'true' }} # can't use 'env' context
    permissions:
      actions: read # for detecting the Github Actions environment.
      id-token: write # for creating OIDC tokens for signing.
      packages: write # for uploading attestations.
    strategy:
      matrix:
        digest:
          - ${{ needs.build-and-push.outputs.digest-standard }}
          - ${{ needs.build-and-push.outputs.digest-distroless }}
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
    with:
      image: ${{ needs.build-and-push.outputs.dockerhub-repo }}
      digest: ${{ matrix.digest }}
    secrets:
      registry-username: ${{ secrets.DOCKER_HUB_UID }}
      registry-password: ${{ secrets.DOCKER_HUB_PAT }}
    
  verify-ghcr:
    needs: [build-and-push, provenance-ghcr]
    #if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    strategy:
      matrix:
        digest:
          - ${{ needs.build-and-push.outputs.digest-standard }}
          - ${{ needs.build-and-push.outputs.digest-distroless }}
    steps:
      - uses: slsa-framework/slsa-verifier/actions/installer@v2.7.1

      - name: Verify image provenance
        run: |
          slsa-verifier verify-image ${{ needs.build-and-push.outputs.ghcr-repo }}@${{ matrix.digest }} \
            --source-uri github.com/${{ github.repository }} \
            --source-branch ${{ github.ref_name }}

  verify-dockerhub:
    needs: [build-and-push, provenance-dockerhub]
    if: ${{ needs.build-and-push.outputs.use-docker-hub == 'true' && github.ref == 'refs/heads/main' }} # can't use 'env' context
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    strategy:
      matrix:
        digest:
          - ${{ needs.build-and-push.outputs.digest-standard }}
          - ${{ needs.build-and-push.outputs.digest-distroless }}
    steps:
      - uses: slsa-framework/slsa-verifier/actions/installer@v2.7.1

      - name: Verify image provenance
        run: |
          slsa-verifier verify-image ${{ secrets.DOCKER_HUB_REPO }}@${{ matrix.digest }} \
            --source-uri github.com/${{ github.repository }} \
            --source-branch ${{ github.ref_name }}
