name: SLSA generic container generator

on:
  workflow_dispatch:
  push:
  #  branches: [ "main", "feature/**" ]
  #  tags: [ "v*" ]

jobs:
  build-and-push:
    name: Build & Push
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
      id-token: write
    env:
      USE_DOCKER_HUB: false #true
    outputs:
      image: ${{ steps.meta-ghcr.outputs.tags }}
      tag: ${{ steps.meta-ghcr.outputs.version }}
      digest: ${{ steps.build.outputs.digest }}

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - run: echo "IMAGE_TAG=dev" >> $GITHUB_ENV
      if: github.ref_name == 'main' || startsWith(github.ref_name, 'feature/')

    - run: echo "IMAGE_TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
      if: startsWith(github.ref, 'refs/tags/v')

    - name: Login to ghcr.io
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to docker.io
      if: ${{ env.USE_DOCKER_HUB == 'true' }}
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_UID }}
        password: ${{ secrets.DOCKER_HUB_PAT }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta-ghcr
      uses: docker/metadata-action@v5
      with:
        images: |
          ghcr.io/${{ github.repository }}
          ${{ secrets.DOCKER_HUB_REPO }},enable=${{ env.USE_DOCKER_HUB }}
        tags: |
          type=semver,pattern=v{{version}},value=${{ env.IMAGE_TAG }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      id: build
      with:
        context: .
        push: true
        platforms: linux/amd64 #,linux/arm64
        tags: ${{ steps.meta-ghcr.outputs.tags }}
        labels: ${{ steps.meta-ghcr.outputs.labels }}

  # This step calls the container workflow to generate provenance and push it to
  # the container registry.
  provenance:
    needs: [build-and-push]
    permissions:
      actions: read # for detecting the Github Actions environment.
      id-token: write # for creating OIDC tokens for signing.
      packages: write # for uploading attestations.
    #if: startsWith(github.ref, 'refs/tags/v')
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
    with:
      image: ${{ needs.build-and-push.outputs.image }}
      digest: ${{ needs.build-and-push.outputs.digest }}
      registry-username: ${{ github.actor }}
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}

  verify:
    needs: [build-and-push, provenance]
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    if: github.ref_name == 'main'
    steps:
      - uses: slsa-framework/slsa-verifier/actions/installer@v2.7.1

      - name: Verify image provenance
        run: |
          slsa-verifier verify-image ${{ needs.build-and-push.outputs.image }}@${{ needs.build-and-push.outputs.digest }} \
            --source-uri github.com/${{ github.repository }} \
            --source-branch ${{ github.ref_name }} \
